{% extends "housingtrader/detailbase.html" %}
{% block functions %}
	{% if trade_request_exists %}
		<p>Du har redan gjort en intresseanmälan för det här bytet.</p>
	{% elif reverse_trade_request_exists %}
		<p>Den här annonsören har anmält intresse för din bostad. Gå <a href="{% url 'housingtrader:trade_request_detail' listing.id my_listing.id %}">hit</a> för att se bytet!</p>
	{% elif my_listing.user == listing.user %}
		<p>Detta är din egen bostadsannons.</p>
	{% else %}
		<form action="{% url 'housingtrader:send_trade_request' my_listing.id listing.id %}" method="post">
			{% csrf_token %}
			<input type="submit" value="Anmäl intresse för att byta {{ my_listing }} mot denna bostad" />
		</form>
		<p>När du gör en intresseanmälan får användaren tillgång till kontaktuppgifterna som du har angett.</p>
	{% endif %}
{% endblock %}
