{% extends "housingtrader/housingtrader_base.html" %}

{% block page_header %}Byten för {{ my_listing }}{% endblock %}

{% block main %}

{% if basic_matches %}
	<h2>Bostäder som matchar dina önskemål:</h2>
	<table>
		<thead>
			<tr>
				<td>Adress</td>
				<td>Postnummer</td>
				<td>Postort</td>
				<td>Län</td>
				<td>Area (kvm)</td>
				<td>Hyra/Avgift (kr/mån)</td>
			</tr>
		</thead>
		<tbody>
		{% for other_listing in basic_matches %}
			<tr>
				<td><a href="{% url 'housingtrader:detail' my_listing.id other_listing.id %}">{{ other_listing }}</a></td>
				<td>{{ other_listing.o_postal_code }}</td>
				<td>{{ other_listing.o_postal_town }}</td>
				<td>{{ other_listing.get_o_county_display }}</td>
				<td>{{ other_listing.o_area }}</td>
				<td>{{ other_listing.o_rent }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}

{% if reverse_matches %}
	<h2>Annonser med önskemål som matchar din bostad:</h2>
	<table>
		<thead>
			<tr>
				<td>Adress</td>
				<td>Postnummer</td>
				<td>Postort</td>
				<td>Län</td>
				<td>Area (kvm)</td>
				<td>Hyra/Avgift (kr/mån)</td>
			</tr>
		</thead>
		<tbody>
		{% for other_listing in reverse_matches %}
			<tr>
				<td><a href="{% url 'housingtrader:detail' my_listing.id other_listing.id %}">{{ other_listing }}</a></td>
				<td>{{ other_listing.o_postal_code }}</td>
				<td>{{ other_listing.o_postal_town }}</td>
				<td>{{ other_listing.get_o_county_display }}</td>
				<td>{{ other_listing.o_area }}</td>
				<td>{{ other_listing.o_rent }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}

{% endblock %}