{% extends "base.html" %}

{% block main %}
<h1>Välkommen {{ user.username }}!</h1>

{% if other_listings %}
	<h2>Hittade byten:</h2>
	<table>
		<thead>
			<tr>
				<td>Adress</td>
				<td>Postnummer</td>
				<td>Postort</td>
				<td>Län</td>
				<td>Area (kvm)</td>
				<td>Hyra/Avgift (kr/mån)</td>
			</tr>
		</thead>
		<tbody>
		{% for other_listing in other_listings %}
			<tr>
				<td><a href="{% url 'housingtrader:detail' listing.id other_listing.id %}">{{ other_listing }}</a></td>
				<td>{{ other_listing.o_postal_code }}</td>
				<td>{{ other_listing.o_postal_town }}</td>
				<td>{{ other_listing.get_o_county_display }}</td>
				<td>{{ other_listing.o_area }}</td>
				<td>{{ other_listing.o_rent }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>Hittade inga annonser som matchar dina önskemål</p>
{% endif %}
{% endblock %}