{% extends "base.html" %}

{% block page_header %}Välkommen {{ user.first_name }}!{% endblock %}

{% block main %}

{% if listings %}
	<h2>Dina annonser:</h2>
	<table>
		<thead>
			<tr>
				<td>Annons</td>
				<td>Redigera</td>
				<td>Hitta byten</td>
				<td>Ändra status</td>
				<td>Ta bort</td>
			</tr>
		</thead>
		<tbody>
		{% for listing in listings %}
			<tr>
				<td><a href="{% url 'housingtrader:preview' listing.id %}">{{ listing }}</td>
				<td><a href="{% url 'housingtrader:edit_listing' listing.id %}">.</a></td>
				<td><a href="{% url 'housingtrader:find_trades' listing.id %}">.</a></td>
				<td>
					<form action="{% url 'housingtrader:change_published_state' listing.id %}" method='post'>
						{% csrf_token %}
						<input type="submit" value="{{ listing.published|yesno:'Avpublicera,Publicera'}}" />
					</form>
				</td>
				<td>
					<form action="{% url 'housingtrader:delete_listing' listing.id %}" method='get'>
						<input type="submit" value="x" />
					</form>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<p><a href="{% url 'housingtrader:create_listing' %}">Skapa en ny annons</a></p>
{% else %}
	<p>Du har inga annonser. <a href="{% url 'housingtrader:create_listing' %}">Skapa en annons här!</a></p>
{% endif %}

{% if trade_requests%}
	<h2>Mottagna bytesförfrågningar:</h2>
	<ul>
	{% for trade_request in trade_requests %}
		<li>
			<a href="{% url 'housingtrader:detail' trade_request.receiver.id trade_request.requester.id %}">{{ trade_request.requester.o_street_address }}</a>
			bytes mot <a href="{% url 'housingtrader:preview' trade_request.receiver.id %}">{{ trade_request.receiver.o_street_address }}</a>
		</li>
	{% endfor %}
	</ul>
{% endif %}

{% endblock %}