{% extends "base.html" %}

{% block main %}
<h1>Välkommen {{ user.username }}!</h1>

{% if listings %}
	<h2>Dina annonser:</h2>
	<table>
		<thead>
			<tr>
				<td>Annons</td>
				<td>Redigera</td>
				<td>Hitta byten</td>
			</tr>
		</thead>
		<tbody>
		{% for listing in listings %}
			<tr>
				<td>{{ listing }}</td>
				<td><a href="{{listing.id}}/edit">.</a></td>
				<td><a href="{{listing.id}}/find_trades">.</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<p><a href="{% url 'housingtrader:create_listing' %}">Skapa en ny annons</a></p>
{% else %}
	<p>Du har inga annonser. <a href="{% url 'housingtrader:create_listing' %}">Skapa en annons här!</a></p>
{% endif %}

{% if trade_requests%}
	<h2>Mottagna bytesförfrågningar:</h2>
	<ul>
	{% for trade_request in trade_requests %}
		<li>
			<a href="{% url 'housingtrader:detail' trade_request.receiver.id trade_request.requester.id %}">{{ trade_request.requester.o_street_address }}</a>
			bytes mot <a href="">{{ trade_request.receiver.o_street_address }}</a>
		</li>
	{% endfor %}
	</ul>
{% endif %}

{% endblock %}