/**
 * 	General rules
 */
form, form select, form input {
	font-size: 10px;
}

form ul > li {
	margin: 10px 0;
}

legend {
	font-size: 14px;
}

ul.errorlist {
	list-style-type: disc;
	padding-left: 10px;
}

ul.errorlist li {
	display: inline;
	color: red;
}

/**
 * 	Search form rules
 */
#search_form {
	font-size: 10px;
}

#search_form ul {
	list-style-type: none;
	padding-left: 0;
}

#search_form li.text input {
	width: 400px;
}

#search_form li.text label {
	display: block;
}

#search_form li.types li {
	display: inline;
}

/**
 * 	Create listing form rules
 */
#create_listing_form label {
	font-weight: bold;
}

#create_listing_form li.o_description label {
	display:block;
}
