/**
 * 	General rules
 */
td {
	padding-right: 10px;
}

ul.user_functions {
	padding-left: 0;
}

ul.user_functions li {
	display: inline;
	list-style-type: none;
	font-size: 9px;
}

/**
 * 	Main wrapper rules
 */
#mainwrapper {
	width: 800px;
	margin: 0 auto;
	font-family: Verdana, Arial, sans-serif;
}
